---
layout: default
title: About
---

<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

<h1 class="page-title">	... John-Bap what?</h1>


<center>
  <img src="{{ '/assets/img/JBFeret.png' | relative_url }}" border="0" height="350">
</center>

<div style="height:30px;">&nbsp;</div>


<div class="row">
  <div class="column" style="background-color:#aaa;">
	<center>
		<p><b>Remote sensing of vegetation</b></p>
		<p><b>Biodiversity mapping</b></p>
	</center>
  </div>
  <div class="column" style="background-color:#aaa;">
	<center>
		<p><b>Radiative transfer modeling</b></p>
		<p><b>Estimation of biophysical properties</b></p>
	</center>
  </div>
</div>

<div style="height:30px;">&nbsp;</div>

<p style="text-align:justify">
I am a Research Associate in <b>remote sensing of vegetation</b> at <a href="https://www.inrae.fr/en" target=_blank>INRAE</a> as a permanent member of the <a href="https://www.umr-tetis.fr/index.php/fr/" target=_blank>TETIS</a> laboratory based in Montpellier (south of France). My lab is hosted at the Maison de la Teledetection.
</p>
<p style="text-align:justify">
Prior to joining INRAE, I worked as a Postdoctoral Research Associate for the <a href="https://carnegiescience.edu/" target=_blank>Carnegie Institution for Science</a> at the <a href="https://dge.carnegiescience.edu/" target=_blank>department of Global Ecology</a> in the <a href="http://asnerlab.org/" target=_blank>Asner lab</a> (Stanford, USA).
I hold a PhD in <a href="http://www.ifd.upmc.fr/fr/le-doctorat-a-l-upmc/les-ecoles-doctorales/sciences-de-l-environnement-d-ile-de-france-ed-129.html" target=_blank>Environmental Sciences</a>, and an eninering degree in agronomy from <a href="https://www.montpellier-supagro.fr/" target=_blank>Montpellier Supagro</a>.
</p>
<p style="text-align:justify">
My research focuses on remote sensing data processing and analysis, and methodological development for <b>applications in ecology and environmental monitoring</b>, and a bit of agronomy. I am interested in developing new methods contributing to the estimation of different components of biodiversity (see <a href="https://geobon.org/ebvs/what-are-ebvs/" target=_blank>EBVs</a>), and for the estimation of vegetation biophysical properties. These methodological developments involve <b>imaging spectroscopy</b>, <b>multispectral images and time series</b>, LiDAR data and various optical data acquired from leaf scale (<b>field spectroscopy</b>, close-range imaging spectroscopy) to satellite platforms.
</p>
<p style="text-align:justify">
My research is based on two types of approaches :
</p>
<p style="text-align:justify">
    - <b>Physically-based approaches using radiative transfer modeling (PROSPECT, SAIL, DART)</b> to help understand and interpret interactions between terrestrial ecosystems and remotely sensed radiometric signal.
</p>
<p style="text-align:justify">
	- <b>Data-driven approaches (machine learning)</b>, in order to develop methodologies for classification / regression tasks, and estimation of ecological metrics (including tropical biodiversity) and biophysical properties of vegetation, taking advantage of spatial information and high-dimensionality data.
</p>
<p style="text-align:justify">
I am particularly interested in exploring the complementarity between these two approaches. 
</p>

<div style="height:10px;">&nbsp;</div>

<h3>Contact</h3>

<div style="height:5px;">&nbsp;</div>

<p style="text-align:justify">
Maison de la T&#233;l&#233;d&#233;tection<br>
500 rue JF Breton<br>
34000 Montpellier<br>
France<br>

<br>
Phone: +334 67 54 87 49 <br>
Email: jb.feret[at]teledetection.fr 
