<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
      {{ site.title }}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/fromhyde.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/font/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/font/academicons/css/academicons.min.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Icons -->
<link rel="shortcut icon" type="image/png"  href="{{ site.baseurl }}/assets/img/favicon50x50.png">
<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/logo.png" sizes="490x490">
<link rel="apple-touch-icon" sizes="490x490" href="{{ site.baseurl }}/assets/img/logo.png">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}/atom.xml">
</head>
