<div class="sidebar">

  <div class="container sidebar-sticky">

    <div class="sidebar-about">
      <h1>
        <a href="{{ '/' | relative_url }}">
          {{ site.title }}
        </a>
      </h1>
      <!-- <p class="lead">{{ site.description }}</p> -->
    </div>

    <div style="height:20px;">&nbsp;</div>

    <nav class="sidebar-nav">

     <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="{{ '/' | relative_url }}">About</a>
     <a class="sidebar-nav-item{% if page.url == "/Resume/"%} active{% endif %}" href="/Resume/">Resume</a>
     <a class="sidebar-nav-item{% if page.url == "/Publications/"%} active{% endif %}" href="/Publications/">Publications</a>
     <a class="sidebar-nav-item{% if page.url == "/Codes/"%} active{% endif %}" href="/Codes/">Codes</a>
     <a class="sidebar-nav-item{% if page.url == "/Talks/"%} active{% endif %}" href="/Talks/">Talks</a>
     <a class="sidebar-nav-item{% if page.url == "/Projects/"%} active{% endif %}" href="/Projects/">Projects</a>
     <a class="sidebar-nav-item{% if page.url == "/Students/"%} active{% endif %}" href="/Students/">Students & co</a>

    </nav>

   <div style="height:30px;">&nbsp;</div>

   <div>
       <a href="https://scholar.google.fr/citations?user=LVmWs2Ay7ukC&hl=en" target=_blank><i class="ai ai-google-scholar ai-2x"></i></a>
       &nbsp;
       <a href="https://gitlab.com/jbferet" target=_blank><i class="fa fa-gitlab fa-2x"></i></a>
   </div>

   <div style="height:10px;">&nbsp;</div>

   <p style="font-size:10pt;">  Website made with Jekyll based on the Hyde theme.</p>

  </div>

</div>
