<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>
    
    <div class="wrap">
    	 <div class="content container">
        {{ content }}
      </div>
    </div>

    {% include sidebar.html %}

  </body>
</html>
